.card-container {
    text-align: center;
    display: inline-block;
    position: relative;
}

.card-image {}

.card-border {
    position: absolute;
    top: 0;
    border: solid rgb(240, 182, 25) 2px;
    opacity: 0;
}

.card-container:hover .card-border {
    opacity: 1;
}